
.DS_Store
*.pyc
Lectures/.ipynb_checkpoints/Lecture 01 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 02 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 03 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 04 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 05 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 06 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 07 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 08 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 10 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 11 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 12 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 13 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 09 Assignment-checkpoint.ipynb
