
.DS_Store
*.pyc
Lectures/.ipynb_checkpoints/Lecture 01 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 02 Assignment-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture 03 Assignment-checkpoint.ipynb
